/*
!/.gitignore
!/LICENSE
!/NOTICE
!/README.md
!/infer.py
!/requirements.txt
!/cure/
/cure/*
!/cure/__init__.py
!/cure/backbone.py
!/cure/model.py
!/cure/preprocess.py
!/weights/
/weights/*
!/weights/cure.pt.sha256
